.wrapper {
  font-family: "Eudoxus Sans";
  font-style: normal;
}
/* ---header--- */
.header {
  padding: 32px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dentalist {
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #181945;
}
.header_title img {
  margin-right: 16px;
}
.header_opt li {
  margin-right: 56px;
}
.header_opt li:last-child {
  margin-right: 0;
}
.header_opt a {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #181945;
}
.header_btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #ffffff;
  background-color: #583fbc;
  border-radius: 12px;
  padding: 15px 25px;
  box-sizing: border-box;
}
.container {
  padding: 0 24px;
  box-sizing: border-box;
}
/* ---section 1--- */
.section_1 {
  padding-left: 126px;
  box-sizing: border-box;
  margin-bottom: 280px;
  border-radius: 48px;
  background-color: #dbeffa;
  position: relative;
  height: 600px;
}
.sec1_title {
  font-size: 64px;
  line-height: 81px;
  margin-bottom: 32px;
}
.sec1_text {
  margin-bottom: 72px;
  max-width: 480px;
}
.pic_1 {
  position: absolute;
  top: 80px;
  left: 716px;
  z-index: 2;
}
.sec1_tooth_icon {
  position: absolute;
  top: 408px;
  left: 1220px;
  z-index: 3;
}
.small_circle {
  position: absolute;
  top: 204px;
  left: 660px;
}
.big_circle_1 {
  position: absolute;
  top: 378px;
  left: 624px;
}
.big_circle_2 {
  position: absolute;
  top: 254px;
  left: 1316px;
}
.pattern {
  position: absolute;
  top: 496px;
  left: 621px;
}
/* ---section 2--- */
.section_2 {
  background-color: #fadbe2;
  border-radius: 48px;
  margin-bottom: 200px;
  padding: 96px 0 100px 0;
  box-sizing: border-box;
}
.sec2_infor {
  text-align: center;
  margin-bottom: 104px;
}
.sec2_title1 {
  margin-bottom: 16px;
}
.sec2_title2 {
  margin-bottom: 24px;
}
.sec2_text {
  max-width: 839px;
  margin: auto;
}
.sec2_opt {
  padding: 0 245px 0 276px;
  box-sizing: border-box;
}
.sec2_col_1 {
  margin-right: 72px;
}
.sec2_col_2 {
  margin-bottom: auto;
}
.sec2_item1,
.sec2_item2,
.sec2_item3 {
  margin-bottom: 80px;
}
.sec2_item1,
.sec2_item2,
.sec2_item3,
.sec2_item4,
.sec2_item5 {
  justify-content: flex-start;
}
.sec2_item1 img,
.sec2_item2 img,
.sec2_item3 img,
.sec2_item4 img,
.sec2_item5 img {
  margin-right: 24px;
}
.sec2_item_name {
  margin-bottom: 8px;
}
.sec2_item_describe {
  max-width: 280px;
}
/* ---section 3--- */
.section_3 {
  padding: 0 56px;
  box-sizing: border-box;
  margin-bottom: 200px;
}
.sec3_title {
  margin-bottom: 100px;
}
.sec3_title1 {
  margin-bottom: 16px;
}
.sec3_title2 {
  max-width: 475px;
}
.sec3_text {
  max-width: 510px;
}
.sec3_row2 {
  margin-bottom: 32px;
}
/* ---section 4--- */
.section_4 {
  padding: 0 56px;
  box-sizing: border-box;
  margin-bottom: 140px;
}
.sec4_location {
  position: relative;
}
.location_infor {
  padding: 28px 80px 28px 28px;
  box-sizing: border-box;
  justify-content: flex-start;
  border-radius: 32px;
  background-color: #ffffff;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}
.location_icon {
  position: absolute;
  top: 362px;
  left: 50%;
  transform: translateX(-50%);
}
.location_infor img {
  margin-right: 30px;
}
.location_address {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #181945;
  width: 345px;
}
.sec4_title1 {
  margin-bottom: 16px;
}
.sec4_title2 {
  margin-bottom: 24px;
  max-width: 600px;
}
.sec4_text {
  max-width: 620px;
  margin-bottom: 64px;
}
.row_2,
.row_3 {
  margin-bottom: 24px;
}
.row_4 {
  margin-bottom: 48px;
}
.form label {
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: rgba(24, 25, 69, 0.6);
  margin-bottom: 12px;
}
.form input,
select {
  width: 290px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: rgba(24, 25, 69, 0.6);
  padding: 18px 20px;
  box-sizing: border-box;
  border: 1px solid rgba(24, 25, 69, 0.1);
  border-radius: 16px;
}
.form .row_3 .item_3 select {
  color: #181945;
}
.form .row_3 select {
  -webkit-appearance: none;
  text-indent: 1px;
  background-color: transparent;
}
.row_3 .item_3 label,
.item_4 label {
  position: relative;
}
.row_3 label::before {
  content: "";
  background-image: url("../images/servicepage/arrow_icon.png");
  background-position: center;
  background-size: cover;
  width: 12px;
  height: 6px;
  position: absolute;
  top: 60px;
  left: 85%;
  z-index: -1;
}
.form textarea {
  max-width: 620px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: rgba(24, 25, 69, 0.6);
  padding: 18px 20px;
  box-sizing: border-box;
  border: 1px solid rgba(24, 25, 69, 0.1);
  border-radius: 16px;
}
.hotline img {
  margin-right: 16px;
}
.phone_name {
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #583fbc;
  margin-bottom: 4px;
}
.phone_number {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #181945;
}
/* ---footer--- */
.footer {
  padding: 103px 79px 50px 80px;
  box-sizing: border-box;
  background-color: #041434;
}
.footer_wrapper {
  align-items: baseline;
  margin-bottom: 115px;
}
.footer_title {
  justify-content: flex-start;
  margin-bottom: 32px;
}
.footer_title img {
  margin-right: 16px;
}
.footer_dentalist {
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.footer_text {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #ffffff;
  opacity: 0.6;
  max-width: 510px;
  margin-bottom: 64px;
}
.follow_us_on {
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 24px;
}
.fb_tw_ig {
  justify-content: flex-start;
}
.fb,
.tw {
  margin-right: 48px;
}
.col_2 {
  flex-direction: column;
  align-items: flex-start;
}
.col_title {
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 24px;
}
.col_2 a {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin-bottom: 24px;
}
.footer_infor {
  justify-content: flex-start;
  margin-bottom: 32px;
}
.footer_infor img {
  margin-right: 32px;
}
.infor_1 {
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 4px;
}
.infor_2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.footer_footer {
  display: flex;
}
.item_left {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 762px;
}
.item_mid,
.item_right {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin-right: 60px;
}
.footer_footer:last-child {
  margin-right: 0;
}
